.main-div-mybooks {

  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

.main-div-mybooks p {
  margin-top: 1rem;
  font-size: 0.8rem;
}


.btn-div-mybooks {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  margin-bottom: 2rem;
}


.button-18 {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.49);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #09223b;
  cursor: pointer;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 100px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #3c71e3;
  color: #ffffff;
}

.button-18.active {
  background: #09223b;
  background-color: #3c71e3;
}



.div-book-detail-main {
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
  margin-bottom: 2rem;

}

.main-flex-detail {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  padding: 1rem;
}

h4 {
  font-family: 'Poppins', sans-serif;
  display: inline;
  font-size: 1rem;

}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;

}



.div-book-detail-ul li p {
  display: inline;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.div-book-detail-ul li {
  margin-bottom: 1rem;

}

.Book-title {
  /* margin-top: 3rem; */
  text-transform: uppercase;
  color: #ee5a24;
  font-weight: 700;
  letter-spacing: -0.05rem;
  font-size: 2.5rem;
}


.left-div-book {
  flex: 1;
  padding: 0 1.5rem;
}



.right-div-book {
  flex: 2;
  padding: 0 1.5rem;
}


.left-div-book img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  border-radius: 5px;

}

.div-book-detail-main button {
  margin: 1rem 1rem 0 3rem;
}



.right-div-book .btn-seemore {
  margin: 0 0.5rem 1rem 0;
  border: #ee5a24 1px solid;
  color: #ee5a24;
}

.btn-seemore:hover {
  border: none;
  background-image: linear-gradient(9deg, #8BC6EC 0%, #9599E2 100%);
  color: white;
  box-shadow: none;
}
.btn-seemore.active{
  box-shadow: none;
  outline: none;
  border:none;
  background-image: linear-gradient(9deg, #8BC6EC 0%, #9599E2 100%);
  color: white;
}
button svg {
  font-size: large;
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
}

.pagination-custom {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pagination-custom .page-link {
  background-color: rgba(253, 245, 220, 0.801);
  box-shadow: rgba(94, 56, 2, 0.2) 2px 8px 8px -5px;
  color: rgb(28, 24, 24);
  border: 1px solid wheat;
}

.pagination-custom .page-item.active .page-link {
  color: #fff !important;
  background: #ee5a24 !important;
}


.pagination-custom .page-link:hover {
  background-color:#ee5a24;
  
}




@media (max-width: 728px) {
  .div-book-detail-main {
    width: 100%;
    margin: .5rem;
    padding: 1rem;
  }

  .main-flex-detail {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  

  .profile-div-user span {
    display: none;
  }

  .Book-title {
    margin-top: 0;
  }

 

  .right-div-book {
    padding: 0 1.5rem;
  }



  .left-div-book img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    margin: 0.5rem 0 2rem 0;
  }


}